{{>layouts/header}}

<table class="table">
  <thead>
    <tr>
      <th scope="col">아이디</th>
      <th scope="col">제목</th>
      <th scope="col">내용</th>
    </tr>
  </thead>
  <tbody>
    <!-- model.addAttribute로 등록된 데이터는 #을 통해 가져올 수 있음 -->
    {{#article}}
    <tr>
      <th>{{id}}</th>
      <td>{{title}}</td>
      <td>{{content}}</td>
    </tr>
    {{/article}}
    <!-- model.addAttribute로 등록된 데이터는 바로 윗줄까지만 사용 가능 -->
  </tbody>
</table>

<!-- {{article.id}} : 모델에 등록된 article의 id를 가져올 수 있음 -->
<a href="/articles/{{article.id}}/edit" class="btn btn-success btn-sm">수정</a>
<a href="/articles" class="btn btn-primary btn-sm">글 목록으로 되돌아가기</a>

{{>layouts/footer}}